<h3>{{ category_title }}</h3>
{% for website in websites %}
	<!-- The thumbnail of the web site -->
	{% if website.thumbnail %}
	<a href="{{ website.url }}"><img src="{{ website.thumbnail }}"></a>
	{% else %}
	<p>No thumbnail :(</p>
	{% endif %}
	<!-- The title of the website, linked to its url -->
	<h4><a href="{{ website.url }}">{{ website.title }}</a></h4>
	<p>{{ website.description }}</p>
	<p><a href="{{ website.post_url }}">Comment</a></p>
{% endfor %}